<div class="row">
  <div class="span4 offset6">
    <h1>Text Abuse</h1>
  </div>
</div>
<div class="row"
  <div class="span5 offset6">
      <%= form_for @text do |t| %>
        <%= t.label "Write in text to destroy" %>
        <%= t.text_area :text %>
        <div class="row">
          <div class="span5 offset7">
            <% ::Text::ALTERATIONS.each do |alteration| %>
              <%= t.button alteration, name: 'text[alteration]', value: alteration, class: "btn" %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
